body {
    font-size: 16px;
}

.full {
    position: relative;
    width: 100%;
    background: Url("https://matumoto1234.github.io/test_page/images/sample.jpg")center/cover;
}

.h1 {
    margin: 0;
    position: absolute;
    top: calc(50%-0.5em);
    width: 100%;
    text-align: center;
    line-height: 1;
    font-size: 8vw;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    text-shadow: 10px 10px 0 #aaa;
}

section {
    padding: 2rem 0;
    text-align: center;
}

section h2 {
    font-size: 5vw;
    font-family: "Montserrat", sans-serif;
}